
/* BEGIN WITH CSS RESET FROM KEVIN POWELL */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margi */
* {
  margin: 0;
  padding:0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core rot defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height:100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, 
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END CSS RESET FROM KEVIN POWELL */

main {
    display: flex;
    flex-direction: column;
    
    
}

h1{
    font-size: 4rem;
    font-family: 'Boogaloo', cursive;
}

h3{
    font-size: 5rem;
    line-height: normal;
  
}

h4{
    font-size: 1.875rem;
}

h5{
    font-size: 1.3rem;
}

#llewynDisplay{
    display: none;
}

#grettaDisplay{
    display:none;
}

.bookshelfContainer{
    display: flex;
    flex-direction: column;
    padding: 2em;
 }

 .gretta{
   
    background-color: #0D0D0D;
    font-family: 'Mystery Quest', cursive;
    color:#F263CC;
}

.llewyn{
   
    font-family: 'Londrina Solid', cursive;
    color: #540D6E;
}


.topShelf{
    border: solid 3px orange;
    display:flex;
    flex-direction: column;
    padding:1em;
   
}

.topShelfIntro h5{
    margin-bottom: 1.5em;
    margin-top: -10px;
}

.bookshelf{
    
    padding: 5px;
    display: flex;
    flex-direction:column;
}

.shelf{
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
}

.llewyn .shelf{
border: solid 3px #0EAD69;
}

.llewyn .topShelf{
    border: solid 3px #0EAD69;
}

.gretta .shelf{
    border: solid 3px #F230D2;
    }
    
.gretta .topShelf{
        border: solid 3px #F230D2;
    }


.cardContainer{
    display: flex;
    gap: 1.5em;
    padding: 1.5em;
}

.card{
    padding:5px;
}

.gretta .card{
    background-color: #F2A7DE;
    color: #A6055D;
}

.llewyn .cardContainer{
    border-color:#0EAD69;
}



.llewyn .card{
    background-color:#FFD23F;
    align-self: stretch;
    font-family: 'Montserrat', sans-serif;
    
}

.topShelf ul{
    margin-left: 5%;
   margin-bottom: 10px;
}

.topShelf li{
    list-style: none;
}

li{

}

.sublistDescription{
    margin-left: 10px;
    font-size: .875rem;
    list-style: none;
}